{
  "openapi": "3.0.1",
  "info": {
    "title": "Chatbot API - Criar Mensagem",
    "description": "API para enviar mensagens para um número ou grupo no chatbot.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://chatbot.menuia.com"
    }
  ],
  "paths": {
    "/api/create-message": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/settings": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Sucesso"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ocorreu uma falha na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Ocorreu uma falha na requisição"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "O e-mail do usuário para autenticação."
                  },
                  "senha": {
                    "type": "string",
                    "description": "A senha do usuário para autenticação."
                  },
                  "auth": {
                    "type": "string",
                    "description": "Identificador da requisição."
                  }
                },
                "required": [
                  "email",
                  "senha",
                  "auth"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/developer": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/groups": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/info": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planos": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  }
                },
                "required": [
                  "planos"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de planos obtidas com sucesso!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Lista de planos obtidas com sucesso!"
                    },
                    "dados": {
                      "type": "string",
                      "example": "JSON"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Nenhuma opção da api selecionada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhuma opção da api selecionada"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/media": {
      "post": {
        "servers": [
          {
            "url": "https://textscan.menuia.com"
          }
        ],
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "file": {
                    "type": "string",
                    "description": "O arquivo a ser processado, que pode ser enviado como URL ou em formato base64."
                  },
                  "format": {
                    "type": "string",
                    "description": "O formato do arquivo"
                  }
                },
                "required": [
                  "authkey",
                  "file",
                  "format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/voice": {
      "post": {
        "servers": [
          {
            "url": "https://textscan.menuia.com"
          }
        ],
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ia/{id}": {
      "get": {
        "summary": "Obtém informações de um chatbot de IA específico.",
        "description": "Retorna os detalhes de um chatbot de IA usando seu ID.",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "description": "O ID do chatbot de IA a ser recuperado.",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Informações do chatbot obtidas com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Informações do chatbot de IA obtidas com sucesso."
                    },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": {
                          "type": "string",
                          "example": "ia_12345"
                        },
                        "name": {
                          "type": "string",
                          "example": "Assistente de Vendas"
                        },
                        "version": {
                          "type": "string",
                          "example": "2.0"
                        },
                        "creation_date": {
                          "type": "string",
                          "format": "date-time",
                          "example": "2023-10-27T10:00:00Z"
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Chatbot de IA não encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Chatbot de IA com o ID especificado não foi encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}