{
  "openapi": "3.0.1",
  "info": {
    "title": "Chatbot API - Criar Mensagem",
    "description": "API para enviar mensagens para um número ou grupo no chatbot.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://chatbot.menuia.com"
    }
  ],
  "paths": {
    "/api/create-message": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": ["appkey", "authkey", "to", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/settings": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": ["appkey", "authkey", "to", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "O e-mail do usuário para autenticação."
                  },
                  "senha": {
                    "type": "string",
                    "description": "A senha do usuário para autenticação."
                  },
                  "auth": {
                    "type": "string",
                    "description": "Identificador da requisição."
                  }
                },
                "required": ["email", "senha", "auth"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/developer": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": ["appkey", "authkey", "to", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/groups": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": ["appkey", "authkey", "to", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/info": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planos": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  }
                },
                "required": ["planos"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/media": {
      "post": {
        "servers": [
          {
            "url": "https://textscan.menuia.com"
          }
        ],
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "file": {
                    "type": "string",
                    "description": "O arquivo a ser processado, que pode ser enviado como URL ou em formato base64."
                  },
                  "format": {
                    "type": "string",
                    "description": "O formato do arquivo"
                  }
                },
                "required": ["authkey", "file", "format"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/voice": {
      "post": {
        "servers": [
          {
            "url": "https://textscan.menuia.com"
          }
        ],
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": ["appkey", "authkey", "to", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}