{
  "openapi": "3.0.1",
  "info": {
    "title": "Chatbot API - Criar Mensagem",
    "description": "API para enviar mensagens para um número ou grupo no chatbot.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://chatbot.menuia.com"
    }
  ],
  "paths": {
    "/api/create-message": {
      "post": {
        "summary": "Enviar mensagem",
        "description": "Permite enviar uma mensagem para um número de telefone ou grupo.",
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": ["appkey", "authkey", "to", "message"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}