{
  "openapi": "3.0.1",
  "info": {
    "title": "Chatbot API - Criar Mensagem",
    "description": "API para enviar mensagens para um número ou grupo no chatbot.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://chatbot.menuia.com"
    }
  ],
  "paths": {
    "/api/create-message": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/settings": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Sucesso"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Ocorreu uma falha na requisição",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Ocorreu uma falha na requisição"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/auth": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "O e-mail do usuário para autenticação."
                  },
                  "senha": {
                    "type": "string",
                    "description": "A senha do usuário para autenticação."
                  },
                  "auth": {
                    "type": "string",
                    "description": "Identificador da requisição."
                  }
                },
                "required": [
                  "email",
                  "senha",
                  "auth"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Mensagem enviada com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Mensagem enviada com sucesso."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "validation.required",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "validation.required"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/developer": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/groups": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/info": {
      "post": {
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "planos": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  }
                },
                "required": [
                  "planos"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de planos obtidas com sucesso!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "Lista de planos obtidas com sucesso!"
                    },
                    "dados": {
                      "type": "string",
                      "example": "JSON"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Nenhuma opção da api selecionada",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhuma opção da api selecionada"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/media": {
      "post": {
        "servers": [
          {
            "url": "https://textscan.menuia.com"
          }
        ],
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "file": {
                    "type": "string",
                    "description": "O arquivo a ser processado, que pode ser enviado como URL ou em formato base64."
                  },
                  "format": {
                    "type": "string",
                    "description": "O formato do arquivo"
                  }
                },
                "required": [
                  "authkey",
                  "file",
                  "format"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/voice": {
      "post": {
        "servers": [
          {
            "url": "https://textscan.menuia.com"
          }
        ],
        "requestBody": {
          "description": "Parâmetros necessários para enviar uma mensagem.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "appkey": {
                    "type": "string",
                    "description": "Chave de aplicação."
                  },
                  "authkey": {
                    "type": "string",
                    "description": "Chave de autenticação do usuário."
                  },
                  "to": {
                    "type": "string",
                    "description": "Número de telefone no formato internacional ou ID do grupo."
                  },
                  "message": {
                    "type": "string",
                    "description": "Conteúdo da mensagem."
                  }
                },
                "required": [
                  "appkey",
                  "authkey",
                  "to",
                  "message"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 200
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "string",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 401
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "403": {
            "description": "string.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 403
                    },
                    "message": {
                      "type": "string",
                      "example": "<string>"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Nenhum dispositivo encontrado.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "integer",
                      "example": 404
                    },
                    "message": {
                      "type": "string",
                      "example": "Nenhum dispositivo encontrado."
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ia": {
      "post": {
        "summary": "Cria um novo agente de IA",
        "description": "Cria um novo agente de IA.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authkey": { "type": "string", "example": "SUA_AUTHKEY" },
                  "device": { "type": "string", "example": "SEU DEVICE" },
                  "agent_name": { "type": "string", "example": "Assistente de Vendas" }
                },
                "required": ["authkey", "agent_name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agente Criado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "integer", "example": 201 },
                    "message": { "type": "string", "example": "Agente Criado com sucesso" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agent_id": { "type": "integer", "example": 34 },
                        "agent_name": { "type": "string", "example": "Meu agente" }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v2/ia/{id}": {
      "get": {
        "summary": "Lista todos os agentes de IA",
        "description": "Retorna uma lista com todos os agentes de IA disponíveis.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authkey": { "type": "string", "example": "SUA_AUTHKEY" }
                },
                "required": ["authkey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lista de agentes obtida com sucesso.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "integer", "example": 200 },
                    "message": { "type": "string", "example": "Sucesso" },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "id": { "type": "integer", "example": 35 },
                          "cpf": { "type": "boolean", "example": 0 },
                          "email": { "type": "boolean", "example": 0 },
                          "webhook": { "type": "string", "nullable": true, "example": null },
                          "user_id": { "type": "integer", "example": 24 },
                          "device_id": { "type": "integer", "example": 1111 },
                          "send_audio": { "type": "boolean", "example": 0 },
                          "temperature": { "type": "number", "example": 0.3 },
                          "receiver_audio": { "type": "boolean", "example": 1 },
                          "voice": { "type": "string", "example": "f" },
                          "agent_name": { "type": "string", "example": "AGENTE 2" },
                          "system": { "type": "string", "nullable": true, "example": null },
                          "stop_bot": { "type": "boolean", "example": 0 },
                          "work_days": { "type": "string", "example": "[\"seg\",\"ter\",\"qua\",\"qui\",\"sex\",\"sab\",\"dom\"]" },
                          "stop_client": { "type": "string", "nullable": true, "example": null },
                          "stop_server": { "type": "string", "nullable": true, "example": null },
                          "time_pause": { "type": "string", "example": "00:30:00" },
                          "blacklist": { "type": "string", "nullable": true, "example": null },
                          "created_at": { "type": "string", "format": "date-time", "example": "2025-08-31T00:38:08.000000Z" },
                          "updated_at": { "type": "string", "format": "date-time", "example": "2025-08-31T00:38:08.000000Z" }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Atualiza um agente de IA existente",
        "description": "Atualiza informações de um agente de IA pelo ID.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "O ID do agente a ser atualizado.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authkey": { "type": "string", "example": "SUA_APPKEY" },
                  "cpf": { "type": "boolean", "example": 1 },
                  "email": { "type": "boolean", "example": 0 },
                  "webhook": { "type": "string", "example": "https://meusite.com/webhook" },
                  "device_id": { "type": "integer", "example": 4586 },
                  "send_audio": { "type": "boolean", "example": 1 },
                  "receiver_audio": { "type": "boolean", "example": 1 },
                  "voice": { "type": "string", "example": "m" },
                  "agent_name": { "type": "string", "example": "Lab IA" },
                  "system": { "type": "string", "nullable": true, "example": "Você é uma Biomédica responsável por Laboratório de Análises Clínicas" },
                  "stop_bot": { "type": "boolean", "example": 0 },
                  "work_days": { "type": "array", "items": { "type": "string" }, "example": ["seg","ter","qua","qui","sex","sab","dom"] },
                  "stop_client": { "type": "boolean", "example": 0 },
                  "stop_server": { "type": "boolean", "example": 0 },
                  "time_pause": { "type": "string", "example": "00:30:00" },
                  "blacklist": { "type": "array", "items": { "type": "string" }, "example": ["palavra1","palavra2"] },
                  "temperature": { "type": "number", "example": 0.3 }
                },
                "required": ["agent_name"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agente de IA atualizado com sucesso",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "integer", "example": 200 },
                    "message": { "type": "string", "example": "Agente de IA atualizado com sucesso" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "id": { "type": "integer", "example": 35 },
                        "cpf": { "type": "boolean", "example": 0 },
                        "email": { "type": "boolean", "example": 0 },
                        "webhook": { "type": "string", "example": "https://chatbot.menuia.com" },
                        "user_id": { "type": "integer", "example": 24 },
                        "device_id": { "type": "integer", "example": 1111 },
                        "send_audio": { "type": "boolean", "example": 0 },
                        "temperature": { "type": "number", "example": 0.3 },
                        "receiver_audio": { "type": "boolean", "example": 1 },
                        "voice": { "type": "string", "example": "m" },
                        "agent_name": { "type": "string", "example": "AGENTE 2" },
                        "system": { "type": "string", "nullable": true, "example": null },
                        "stop_bot": { "type": "boolean", "example": 0 },
                        "work_days": { 
                          "type": "array",
                          "items": { "type": "string" },
                          "example": ["seg","ter","qua","qui","sex","sab","dom"]
                        },
                        "stop_client": { "type": "string", "nullable": true, "example": null },
                        "stop_server": { "type": "string", "nullable": true, "example": null },
                        "time_pause": { "type": "string", "example": "00:30:00" },
                        "blacklist": { "type": "string", "nullable": true, "example": null },
                        "created_at": { "type": "string", "format": "date-time", "example": "2025-08-31T00:38:08.000000Z" },
                        "updated_at": { "type": "string", "format": "date-time", "example": "2025-08-31T00:59:28.000000Z" }
                      },
                      "example": {
                        "id": 35,
                        "cpf": 0,
                        "email": 0,
                        "webhook": "https://chatbot.menuia.com",
                        "user_id": 24,
                        "device_id": 1111,
                        "send_audio": 0,
                        "temperature": 0.3,
                        "receiver_audio": 1,
                        "voice": "m",
                        "agent_name": "AGENTE 2",
                        "system": null,
                        "stop_bot": 0,
                        "work_days": ["seg","ter","qua","qui","sex","sab","dom"],
                        "stop_client": null,
                        "stop_server": null,
                        "time_pause": "00:30:00",
                        "blacklist": null,
                        "created_at": "2025-08-31T00:38:08.000000Z",
                        "updated_at": "2025-08-31T00:59:28.000000Z"
                      }
                    }
                  }
                }
              }
            }
          },
        }
      },
      "delete": {
        "summary": "Deleta um Agente de IA",
        "description": "Remove um Agente de IA pelo ID.",
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "description": "O ID do agente IA a ser removido.",
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "authkey": { "type": "string", "example": "SUA_AUTHKEY" }
                },
                "required": ["authkey"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agente de IA apagado com sucesso!",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "integer", "example": 200 },
                    "message": { "type": "string", "example": "Agente de IA apagado com sucesso!" },
                    "data": {
                      "type": "object",
                      "properties": {
                        "agent_id": { "type": "integer", "example": 34 },
                        "agent_name": { "type": "string", "example": "Meu agente" }
                      }
                    }
                  }
                }
              }
            }
          },
        }
      }
    }
  }
}